extends layout

mixin snsLink(url, iconClass)
  a(href= url target="_blank")
    span.fa-stack.fa-lg
      i.fa.fa-circle.fa-stack-2x
      i(class= iconClass).fa.fa-stack-1x.fa-inverse

block content
  div.container
    div.first-line
      h1= domain
        span= tld
    div.dark-box
      div.message-box
        h1= message
      div.sns-links-box
        each snsLink in snsLinks
          +snsLink(snsLink.url, snsLink.iconClass)
      div.countdown.styled
      script(type='text/javascript').
        $('.countdown.styled').countdown({
          date: "April 17, 2014 00:00:00", //FIXME
          render: function(data) {
            $(this.el).html("<div>" + this.leadingZeros(data.days, 2) + " <span>days</span></div><div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div><div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div><div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
          }
        });
