html
  background: url('http://farm9.staticflickr.com/8249/8636833036_c7da03bdda_b.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
body
  font-family: 'Roboto', sans-serif
  font-size: 30px
  color: #FFFFFF
.centered
  position: fixed
  top: 50%
  left: 50%
.text
  width: 100%
  height: 100px
  margin-top: -250px
  text-align: center
  // margin-left: -250px
.countdown.styled
  height: 150px
  width: 300px
  margin-top: 0px
  margin-left: -150px
.countdown.styled div
  display: inline-block
  margin-left: 10px
  font-size: 40px
  font-weight: 100
  line-height: 1
  text-align: right
.countdown.styled div span
  display: block
  border-top: 1px solid #FFFFFF
  padding-top: 3px
  font-size: 16px
  font-weight: normal
  text-transform: uppercase
  text-align: left
div.transbox
  position: absolute
  background-color: #242424
  opacity: 0.2
  height: 100%
  width:100%
  margin: 0
  z-index: 1
  // position: absolute
  // color: #eee
  // font-size:44px;
  // font-weight:bold;


