body {
  background: url("http://farm8.staticflickr.com/7033/6668797013_bb1dc44269_b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  padding-top: 400px;
  color: #fff;
}
.first-line {
  font-size: 17px;
  font-family: 'Duru Sans', sans-serif;
  text-align: center;
}
.first-line span {
  color: #ffdc00;
}
.dark-box {
  padding-top: 33px;
  padding-bottom: 33px;
  height: 104px;
  width: 100%;
  background-color: #111;
  opacity: 0.9;
}
.dark-box div {
  float: left;
}
.message-box {
  padding-right: 2%;
  width: 23%;
  font-family: 'Shadows Into Light', cursive;
  text-align: right;
  text-transform: uppercase;
}
.sns-links-box {
  width: 25%;
}
.sns-links-box span {
  margin: 2px;
}
.sns-links-box .fa-circle {
  color: #fff;
  opacity: 0.7;
}
.sns-links-box .fa-inverse {
  color: #111;
}
.countdown.styled {
  width: 50%;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
.countdown.styled div {
  display: inline-block;
  margin-left: 20px;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}
.countdown.styled div span {
  display: block;
  border-top: 1px solid #fff;
  padding-top: 3px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
