body
  background: url('http://farm8.staticflickr.com/7033/6668797013_bb1dc44269_b.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  margin: 0
  color: #ffffff
.empty-box
  height: 330px
.first-line
  color: #ffffff
  font-family: 'Roboto', sans-serif
  font-size: 40px
  font-weight: 400
  text-align: center
  // text-transform: uppercase
.first-line span
  color: #FFDC00
  // font-weight: 300
.dark-box
  // display: block
  height: 170px
  width: 100%
  background-color: #111111
  opacity: 0.9
.social-box
  width: 50%
  float: left
  padding-top: 33px
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px
  text-align: center
  text-transform: uppercase
.social-box a:first-child
  margin-left: 20px
.social-box i
  padding: 27px 7px
  color: #ffffff
  opacity: 0.7
.countdown.styled
  width: 50%
  float: left
  padding-top: 33px
  font-family: 'Oswald', sans-serif
  text-align: left
.countdown.styled div
  display: inline-block
  margin-left: 20px
  font-size: 80px
  font-weight: 400
  line-height: 1
  text-align: right
.countdown.styled div span
  display: block
  border-top: 1px solid #ffffff
  padding-top: 3px
  font-size: 20px
  font-weight: 300
  text-align: left
  text-transform: uppercase